<div class="row">
    <div class="col-9">
        {% include animated-image.liquid src="https://i.imgur.com/4kVzJOS.png" alt="Digital wireframe: homepage on a large screen" %}
    </div>
    <div class="col-3">
        {% include animated-image.liquid src="https://i.imgur.com/sRYguO9.png" alt="Digital wireframe: homepage on a small screen" %}
    </div>
</div>
<div class="row">
    <div class="col-9">
        {% include animated-image.liquid src="https://i.imgur.com/LEqwBpC.png" alt="Digital wireframe: personal transaction page on a large screen" %}
    </div>
    <div class="col-3">
        {% include animated-image.liquid src="https://i.imgur.com/4RimbPL.png" alt="Digital wireframe: personal transaction page on a small screen" %}
    </div>
</div>
