<div class="row row-cols-1 row-cols-md-2">
    <div class="col wow animate__animated animate__fadeIn" data-wow-delay=".2s">
        <div class="row">
            <div class="col-9">
                <img src="https://i.imgur.com/r9nhent.png" alt="Mockup: Homepage on a large screen">
            </div>
            <div class="col-3">
                <img src="https://i.imgur.com/5OQH4kk.png" alt="Mockup: Homepage on a small screen">
            </div>
        </div>
    </div>
    <div class="col wow animate__animated animate__fadeIn" data-wow-delay=".2s">
        <div class="row">
            <div class="col-9">
                <img src="https://i.imgur.com/MDD4YT6.png" alt="Transaction history page on a large screen">
            </div>
            <div class="col-3">
                <img src="https://i.imgur.com/YRx70AG.png" alt="Transaction history page on a small screen">
            </div>
        </div>
    </div>
    <div class="col wow animate__animated animate__fadeIn" data-wow-delay=".2s">
        <div class="row">
            <div class="col-9">
                <img src="https://i.imgur.com/oh6QqMb.png" alt="Goal list page on a large screen">
            </div>
            <div class="col-3">
                <img src="https://i.imgur.com/63E2X7M.png" alt="Goal list page on a small screen">
            </div>
        </div>
    </div>
    <div class="col wow animate__animated animate__fadeIn" data-wow-delay=".2s">
        <div class="row">
            <div class="col-9">
                <img src="https://i.imgur.com/9nePREh.png" alt="Goal overview page on a large screen">
            </div>
            <div class="col-3">
                <img src="https://i.imgur.com/q5EzFNh.png" alt="Goal overview page on a small screen">
            </div>
        </div>
    </div>
</div>