<div class="row row-cols-sm-2 row-cols-1">
    <div class="col wow animate__animated animate__fadeInLeft" data-wow-delay=".2s">
        <p class="lead text-center">Before usability study</p>    
        <div class="col">
            <img src="https://i.imgur.com/nAtncj7.png" alt="Homepage before usability study">
        </div>
        <div class="col">
            <img src="https://i.imgur.com/lCB8Asv.png" alt="Transaction history page before usability study">
        </div>
        <div class="col">
            <img src="https://i.imgur.com/rDP4DOI.png" alt="Add goal page before usability study">
        </div>
    </div>
    <div class="col wow animate__animated animate__fadeInRight" data-wow-delay=".4s">
        <P class="lead text-center">After usability study</P>
        <div class="col">
            <img src="https://i.imgur.com/vdKnOat.png" alt="Homepage after usability study">
        </div>
        <div class="col">
            <img src="https://i.imgur.com/iyzcDWc.png" alt="Transaction history page after usability study">
        </div>
        <div class="col">
            <img src="https://i.imgur.com/f7u0No9.png" alt="Add goal page after usability study">
        </div>
    </div>
</div>
