<div class="row row-cols-2 row-cols-lg-4">
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/sRA54g5.jpeg" alt="Paper wireframe: homepage 1st version" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/MWNh708.jpeg" alt="Paper wireframe: homepage 2nd version" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/hONVXhR.jpeg" alt="Paper wireframe: homepage 3rd version" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/qr3qsA4.jpeg" alt="Paper wireframe: homepage 4th version" %}
    </div>
</div>