<div class="row justify-content-center">
    <div class="col-lg-3 col-7">
        {% include animated-image.liquid src="https://i.imgur.com/8zcGXAG.jpeg" alt="Paper wireframe: homepage final version" %}
    </div>
    <div class="col-lg-2 col-5">
        {% include animated-image.liquid src="https://i.imgur.com/AwjfnjK.jpeg" alt="Paper wireframe: homepage final version on small screen" %}
    </div>
</div>