<div class="col-lg">
    <div class="row d-flex align-items-stretch">
        {% for card in include.source %}
            <div class="col-md-12 col-lg-6 p-0 mb-3">
                <div class="mr-3 bg-auto-themed grey p-3 rounded h-100">
                    {% if card.title %}
                        <div class="card-title">{{card.title}}</div>
                    {% endif %}
                    <p>{{card.desc}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>