<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="/assets/img/nszczerba.jpg" alt="{{ site.title }}" class="circle-image wow animate__animated animate__zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <div class="wow animate__animated animate__slideInUp" data-wow-delay=".15s">
      <p>{{ site.description }}</p>
      <a class="icon-link icon-link-hover mt-3 lead landing-proj-link" href="{{ '/projects/' | relative_url }}">
        See my work
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" aria-hidden="true">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
        </svg>
      </a>
    </div>
  </div>
</div>