@mixin themed($property, $light-value, $dark-value) {
  [data-bs-theme="light"] & {
    #{$property}: $light-value;
  }

  [data-bs-theme="dark"] & {
    #{$property}: $dark-value;
  }
}

#theme-toggler {
  &:before {
    @include themed(content, "🌙", "🌞");
  }

  color: rgba(white, 0.85);
  &:hover, &:active {
    color: white;
  }
}

.navbar-themed {
  .navbar-brand,
  .navbar-nav .nav-link.active {
    @include themed(color, $text-black, $text-white);
  }

  .navbar-nav .nav-link {
    @include themed(color, rgba($text-black, 0.5), rgba($text-white, 0.5));
    &:hover:not(.active) {
      @include themed(color, rgba($text-black, 0.8), rgba($text-white, 0.8));
    }
    &:active:not(.active) {
      @include themed(color, $text-black, $text-white);
    }
  }
}

.text-themed {
  @include themed(color, $text-black, $text-white);
}

.bg-themed {
  @include themed(background-color, $light, $dark);
}

//---------------

@mixin themed-bg($light-value, $dark-value) {
    @include themed(background-color, $light-value, $dark-value);
}

@mixin themed-text($light-value, $dark-value) {
    @include themed(color, $light-value, $dark-value);
}

@mixin themed-border($light-value, $dark-value) {
  border: solid 1px;
  @include themed(border-color, $light-value, $dark-value);
}

// monochromatic
.bg-themed-contrast {
  @include themed-bg(white, $dark);
}

.border-themed {
  @include themed-border($border-light, $border-dark);
}

// blue
.text-themed-blue {
  @include themed-text($primary, $light-blue);
}

.border-themed-blue {
  @include themed-border($primary, $light-blue);
}

// purple
.text-themed-purple {
  @include themed-text($indigo-500, $indigo-200);
}

.border-themed-purple {
  @include themed-border($indigo-500, $indigo-200);
}

// green
.text-themed-green {
  @include themed-text($teal-600, $teal-200);
}

// pink
.text-themed-pink {
  @include themed-text($pink-600, $pink-200);
}

// yellow
.text-themed-yellow {
  @include themed-text($yellow-600, $yellow-200);
}