$primary:   #0d6efd;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #d6a81e;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #212529;

$light-blue: #8bb9fe;

$text-black: #343a40;
$text-white: rgba(white, .9);

$border-light: #dee2e6;
$border-dark:#495057;

$rounded-borders: 15px;