<div class="row row-cols-sm-2 row-cols-1 g-4 my-2">
    <div class="col wow animate__animated animate__fadeInLeft" data-wow-delay=".2s">
        <p class="lead">Before usability study</p>
        <div class="row row-cols-lg-2 row-cols-1">
            <div class="col">
                <img src="https://i.imgur.com/DjK9FfL.png" alt="Popup informing users about unlocked challenges with no dismiss option.">
            </div>
        </div>
        <div class="row row-cols-lg-2 row-cols-1">
            <div class="col">
                <img src="https://i.imgur.com/oX5ms9R.png" alt="Pinned posts feature showing confusion about the Inspiration Board.">
            </div>
        </div>
        <div class="row row-cols-2 gx-1">
            <div class="col">
                <img src="https://i.imgur.com/zXk8lof.png" alt="'Mark as Done' button at the top of the Challenges screen.">
            </div>
            <div class="col">
                <img src="https://i.imgur.com/XjUjBSo.png" alt="'Mark as Done' button at the bottom of the Lessons screen.">
            </div>
        </div>
    </div>
    <div class="col wow animate__animated animate__fadeInRight" data-wow-delay=".4s">
        <p class="lead">After usability study</p>
        <div class="row row-cols-lg-2 row-cols-1">
            <div class="col">
                <img src="https://i.imgur.com/7Y9WDhi.png" alt="Popup informing users about unlocked challenges with the dismiss option." class="phone">
            </div>
        </div>
        <div class="row row-cols-lg-2 row-cols-1">
            <div class="col">
                <img src="https://i.imgur.com/vLC8i89.png" alt="A confirmation message after pinning a post." class="phone">
            </div>
        </div>
        <div class="row row-cols-2 gx-1">
            <div class="col">
                <img src="https://i.imgur.com/9GEsIki.png" alt="'Mark as Done' button floating at the bottom of the Challenges screen." class="phone">
            </div>
            <div class="col">
                <img src="https://i.imgur.com/9HCyj6r.png" alt="'Mark as Done' button floating at the bottom of the Lessons screen." class="phone">
            </div>
        </div>
    </div>
</div>
