<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/cDfoofh.png" alt="Mockup: Home screen" classes="phone" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/7Eko5Bj.png" alt="Mockup: Course information screen" classes="phone" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/bklT84N.png" alt="Mockup: Course lessons screen" classes="phone" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/g7dN9Li.png" alt="Mockup: Course challenges screen" classes="phone" %}
    </div>
</div>