<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 mb-4">
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/eozexPJ.jpeg" alt="Paper wireframe: Home screen" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/iKnCi6L.jpeg" alt="Paper wireframe: Browse courses screen" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/QnzsYhO.jpeg" alt="Paper wireframe: Course lessons screen" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/Fd0AWIc.jpeg" alt="Paper wireframe: Course challenges screen" %}
    </div>
</div>
