<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/6GEozJH.png" alt="Mockup: Log in screen" classes="phone-rounded" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/RFhyHqK.png" alt="Mockup: Goals screen" classes="phone-rounded" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/wbPo0Vg.png" alt="Mockup: Add personal transaction screen" classes="phone-rounded" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/JXF9bNz.png" alt="Mockup: Subgoals screen" classes="phone-rounded" %}
    </div>
</div>