<div class="table-responsive">
  <table class="table table-bordered mb-5">
    <tbody>
      <tr>
          <th class="table-blue" scope="row">Research questions
          </th>
          <td>
              <ul>
                <li>Do users think the app is easy or difficult to use? </li>
                <li>What features are still confusing to the user?</li>
                <li>What prevents the user from having a delightful experience?</li>
              </ul>
          </td>
        </tr>
      <tr>
        <th class="table-blue" scope="row">Methodology</th>
        <td>
          <ul>
              <li>Unmoderated usability study</li>
              <li>Each participant completed the study within a 45-minute session, which included a series of tasks performed on the app high-fi prototype, followed by a short System Usability Scale (SUS) survey at the end.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th class="table-blue" scope="row">Participants</th>
        <td>5 participants: 3 women, 2 men</td>
      </tr>
    </tbody>
  </table>
</div>