<table class="table table-responsive table-bordered mb-5">
  <tbody>
    <tr>
        <th class="table-blue" scope="row">Research questions
        </th>
        <td>
            <ul>
              <li>Are there parts of the user flow where users get stuck?</li>
              <li>What features are the most confusing to the user?</li>
              <li>What features are considered unnecessary or overcomplicated by the user?</li>
            </ul>
        </td>
      </tr>
    <tr>
      <th class="table-blue" scope="row">Methodology</th>
      <td>
        <ul>
            <li>Moderated usability study</li>
            <li>Location: Poland, remote</li>
            <li>Each participant completed the study within a 1 hour session. The session began with an introduction and some preliminary questions, followed by a series of tasks performed using the app prototype, with the moderator’s guidance. At the end, participants completed a short questionnaire to provide additional feedback.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="table-blue" scope="row">Participants</th>
      <td>5 participants: 3 women, 2 men</td>
    </tr>
  </tbody>
</table>