<div class="row row-cols-2 row-cols-lg-4 justify-content-center">
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/eBkyxGB.png" alt="Wireframe: Subgoal Prioritization screen" classes="phone" %}
    </div>
    <div class="col">
        {% include animated-image.liquid src="https://i.imgur.com/rAYKkMe.png" alt="Wireframe: goal modes" classes="phone" %}
    </div>
</div>