<div class="row row-cols-1 row-cols-lg-2 gx-5">
    <div class="col">
        <div class="row row-cols-2 gx-3">
            <div class="col">
                {% include animated-image.liquid src="https://i.imgur.com/c6pR6In.png" alt="Wireframe: Goals screen" classes="phone" %}
            </div>
            <div class="col">
                {% include animated-image.liquid src="https://i.imgur.com/4Naresq.png" alt="Wireframe: Personal Transactions screen" classes="phone" %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row row-cols-2 gx-3">
            <div class="col">
                {% include animated-image.liquid src="https://i.imgur.com/AqVXo9j.png" alt="Wireframe: Subgoals screen" classes="phone" %}
            </div>
                <div class="col">
                {% include animated-image.liquid src="https://i.imgur.com/RNSdZnd.png" alt="Wireframe: Group Transactions screen" classes="phone" %}
            </div>
        </div>
    </div>
</div>